@font-face{
    font-family: fontheader;
    src: url(/public/sansation/Sansation_Bold.ttf);
}

a.nounderline{
    text-decoration: none; 
    color: black;
}

body{
    background-color: #f1f1f1;    
}

strong{
    color: red;
    font-weight: 900;
}

.header{
    font-family: fontheader;
    font-size: x-large;
    height: 50px;
    padding-left: 2%;
    padding-top: 10px;
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
}

.form-group{
    margin-top: 2%;
    margin-left : 2%;
    width: 30%;
}

.table-responsive{
    padding-left: 2%;
    padding-right: 2%;
}

th { 
    background: rgba(255, 0, 0, 0.664); 
    color: white; 
    font-weight: bold; 
}

td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    text-align: left; 
}

.query-not-found{
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 2%;
}

@media screen and (max-width:700px){
    .form-group{
        margin-top: 3%;
        margin-left : 2%;
        width: 80%;
    }
}

@media screen and (max-width:320px){
    .header{
        font-family: fontheader;
        font-size: larger;
        height: 50px;
        padding-left: 2%;
        padding-top: 10px;
        background-color: whitesmoke;
        color: black;
        font-weight: bold;
    }
    .query-not-found h3{
        font-size: medium;
    }
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width:700px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid rgba(255, 0, 0, 0.664); }
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 6px; 
		white-space: nowrap;
    }
    .table-responsive{
        padding-left: 1%;
        padding-right: 1%;
    }
}

#myBtn{
    border:none;
    font-size: medium;
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    padding-top: 10%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    height: 40%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal-content label{
    margin-top: 7px;
    margin-bottom: 2px;
  }
